*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.txt
coverage.html

vendor/

go.work

.env
.env.local
.env.*.local

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

/bin/
/dist/
/build/

tmp/
temp/
test-infra/app.log

*.log

**/mocks/*.go

web/node_modules/
web/dist/
